<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/images/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/images/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/images/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/images/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/images/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/images/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/images/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/images/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/images/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/images/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/images/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/images/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>DigiMeet-Meetings</title>
  </head>
  <body>
    <!-- Navbar section start -->
    <nav class="navbar">
      <!-- Navbar Logo Section -->
      <div class="navbar__logo">
        <img src="/images/logo.png" alt="logo" class="logo" />
      </div>
      <!-- Navbar Links Section -->
      <div class="navbar__links">
        <a href="">join a meeting</a>
        <a href="/room" id="hostBtn">host a meeting</a>
      </div>
    </nav>
    <!-- Navbar Section End -->
    <!-- Main Section Start -->
    <section class="main__section">
      <!-- Center section start -->
      <div class="main__section__center">
        <h2>Join Meeting</h2>
        <div class="center__input">
          <label for="meeting__id">Meeting ID</label>
          <input
            type="text"
            id="meeting__id"
            placeholder="Enter Meeting ID"
            required
          />
        </div>
        <p>
          By clicking "Join", you agree to our
          <span>Terms of Services</span> and <span>Privacy Statement</span>
        </p>
        <div class="center__button">
          <button type="submit" id="submit__button" disabled>Join</button>
        </div>
      </div>
    </section>
    <!-- Main Section End -->

    <!-- Footer Section start -->
    <footer class="footer__section">
      <p>
        Copyright ©2021 DigiMeet Video Communications, Inc. All rights reserved.
        Privacy & Legal Policies
      </p>
    </footer>
    <!-- Footer Section end -->
    <script src="/js/home.js"></script>
  </body>
</html>
