<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/images/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/images/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/images/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/images/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/images/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/images/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/images/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/images/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/images/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/images/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/images/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/images/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/room.css" />
    <script
      defer
      src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"
    ></script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/js/script.js"></script>
    <script>
      const ROOM_ID = "<%= roomID %>";
    </script>
    <title>DigiMeet-Meetings</title>
  </head>
  <body>
    <div class="main chat__inactive participants__inactive" id="main">
      <div class="main__left">
        <div class="main__left__video">
          <div id="video__grid"></div>
        </div>
        <div class="main__left__controls">
          <div class="controls__div">
            <div class="controls__button" id="mute__btn">
              <i class="fas fa-lg fa-microphone" id="mute__icon"></i>
              <p id="audio__state">Mute</p>
            </div>
            <div class="controls__button" id="video__btn">
              <i class="fas fa-lg fa-video" id="video__icon"></i>
              <p id="video__state">Stop Video</p>
            </div>
          </div>
          <div class="controls__div">
            <div class="controls__button" id="shareInviteBtn">
              <i class="fas fa-lg fa-user-plus"></i>
              <p>Share Invite</p>
            </div>
            <div class="controls__button" id="showParticipants">
              <i class="fas fa-lg fa-users"></i>
              <p>Show Participants</p>
            </div>
            <div class="controls__button" id="chatBtn">
              <i class="fas fa-lg fa-comment-dots"></i>
              <p>Chat</p>
            </div>
          </div>
          <div class="controls__div">
            <div
              class="controls__button"
              style="display: flex; align-items: center"
              id="leaveBtn"
            >
              <p style="color: red; font-size: 16px; cursor: pointer">
                Leave Meeting
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="main__right">
        <div class="main__right__header">
          <i class="fas fa-circle" id="blink"></i>Live Chat
          <i class="fas fa-times"></i>
        </div>
        <div class="main__right__chat">
          <ul class="messages"></ul>
        </div>
        <div class="main__right__input">
          <input type="text" id="input__box" placeholder="Type a message..." />
        </div>
      </div>
      <div class="main__right1">
        <div class="main__right__header">
          <i class="fas fa-lg fa-users"></i>Participants
          <i class="fas fa-times"></i>
        </div>
        <div class="main__right__participants">
          <ul class="participants"></ul>
        </div>
      </div>
      <div class="main__share__invite">
        <input type="text" id="share__invite" readonly />
      </div>
      <div class="prompt"></div>
    </div>
  </body>
</html>
