* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  position: relative;
}
.main .main__share__invite {
  position: absolute;
  bottom: -300px;
}
.main .prompt {
  position: absolute;
  left: 50%;
  top: 2vh;
  transform: translate(-50%, -300px);
  padding: 10px 25px;
  background-color: rgba(185, 185, 185, 0.5);
  -webkit-transform: translate(-50%, -300px);
  -moz-transform: translate(-50%, -300px);
  -ms-transform: translate(-50%, -300px);
  -o-transform: translate(-50%, -300px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}
.main .main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}
.main.chat__inactive .main__left,
.main.participants__inactive .main__left {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.main .main__left .main__left__video {
  flex-grow: 1;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  position: relative;
}
.main .main__left .main__left__video #video__grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main .main__left .main__left__video #video__grid video {
  width: 300px;
  height: 250px;
}
.main .main__left .main__left__controls {
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
}
.main .main__left .main__left__controls .controls__div {
  display: flex;
}
.main .main__left .main__left__controls .controls__div .controls__button {
  text-align: center;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
}
.main .main__left .main__left__controls .controls__div .controls__button:hover {
  background-color: rgba(97, 97, 97, 0.75);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.main .main__left .main__left__controls .controls__div .controls__button .fas {
  cursor: pointer;
}
.main
  .main__left
  .main__left__controls
  .controls__div
  .controls__button
  .fa-microphone-slash,
.main
  .main__left
  .main__left__controls
  .controls__div
  .controls__button
  .fa-video-slash {
  color: red;
}
.main .main__left .main__left__controls .controls__div .controls__button p {
  font-size: 12px;
}
.main .main__right,
.main .main__right1 {
  flex: 0.2;
  display: flex;
  flex-direction: column;
}
.main.chat__inactive .main__right,
.main.participants__inactive .main__right1 {
  display: none;
}
.main__right .main__right__header,
.main__right1 .main__right__header {
  height: 8vh;
  background-color: rgba(185, 185, 185, 0.5);
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  color: rgb(48, 48, 48);
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.main__right .main__right__header #blink {
  font-size: 10px;
  margin-right: 5px;
  animation: animate 1s linear infinite;
  -webkit-animation: animate 1s linear infinite;
}
@-webkit-keyframes animate {
  0% {
    color: transparent;
  }
  100% {
    color: red;
  }
}
@keyframes animate {
  0% {
    color: transparent;
  }
  100% {
    color: red;
  }
}
.main__right .main__right__chat,
.main__right1 .main__right__participants {
  flex-grow: 1;
  overflow: auto;
  max-height: 85vh;
}
.main__right .main__right__chat .messages,
.main__right1 .main__right__participants .participants {
  padding: 0px 10px;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main__right .main__right__chat .messages .message {
  background-color: rgba(185, 185, 185, 0.2);
  margin: 10px 0;
  padding: 5px 10px;
  width: 60%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.main__right1 .main__right__participants .participants .participant {
  padding: 5px 10px;
  background-color: rgba(173, 173, 173, 0.1);
  width: 80%;
  margin: 10px 0;
  font-weight: bold;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.main__right1 .main__right__participants .participants .participant .fas {
  margin-right: 8px;
  color: rgb(0, 185, 0);
}
.main__right1 .main__right__header .fas {
  margin-right: 5px;
  font-size: 20px;
  color: rgb(0, 185, 0);
}
.main__right .main__right__header .fa-times,
.main__right1 .main__right__header .fa-times {
  position: absolute;
  top: 15px;
  font-size: 16px;
  color: rgb(182, 0, 0);
  cursor: pointer;
  right: 5px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.main__right .main__right__chat .messages .message.incoming {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.main__right .main__right__chat .messages .message.outgoing {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: rgba(185, 185, 185, 0.4);
}
.main__right .main__right__chat .messages .username {
  font-size: 15px;
}
.main__right .main__right__chat .messages .input__message {
  font-size: 13px;
}
.main__right .main__right__input {
  height: 8vh;
  background-color: rgba(185, 185, 185, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__right .main__right__input input {
  width: 90%;
  height: 70%;
  font-size: 14px;
  background-color: transparent;
  border: none;
}
.main__right .main__right__input input:focus {
  outline: none;
}
